<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/admin/images/favicon.png" type="image/png">

    <title>Bracket Responsive Bootstrap3 Admin</title>

    <link href="/admin/css/style.default.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--    &lt;!&ndash;[if lt IE 9]>-->
<!--    <script src="/admin/js/html5shiv.js"></script>-->
<!--    <script src="/admin/js/respond.min.js"></script>-->
<!--    <![endif]&ndash;&gt;-->
</head>

<body>



<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

    <div class="leftpanel">

        <div class="logopanel">
            <h1><span>[</span> Organization <span>]</span></h1>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <!-- This is only visible to small devices -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media userlogged">
                    <img alt="" src="../../static/admin/images/photos/loggeduser.png" class="media-object">
                    <div class="media-body">
                        <h4>John Doe</h4>
                        <span>"Life is so..."</span>
                    </div>
                </div>

                <h5 class="sidebartitle actitle">Account</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                    <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
                    <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
                    <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <h5 class="sidebartitle">导航</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li><a href="/getModifyApply"><i class="fa fa-pencil-square-o"></i> <span>资料更改</span></a></li>
                <li><a href="/getCurrentApply"><i class="fa fa-bell"></i> <span>我的申请</span></a></li>
                <li><a href="/getCourse"><i class="fa fa-book"></i> <span>课程管理</span></a></li>
                <li class="active"><a href="/getLecturer"><i class="fa fa-graduation-cap"></i> <span>教师管理</span></a></li>
            </ul>


        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="headerbar">

            <a class="menutoggle"><i class="fa fa-bars"></i></a>


            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <div type="button" class="btn btn-default dropdown-toggle">
                                <i class="fa  fa-group" style="margin-right: 10px;float: left;margin-top: 2px"></i>
                                <div th:text="${orgName}" style="margin-right: 30px"></div>
                            </div>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <p th:text="${userName}" style="float: left"></p>
                                <img src="../../static/admin/images/photos/loggeduser.png" alt="" />
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a class="logOutBtn"><i class="glyphicon glyphicon-log-out"></i>登出</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- header-right -->

        </div><!-- headerbar -->

        <div class="pageheader">
            <h2><i class="fa fa-home"></i> 教师管理 <span>教师信息</span></h2>
            <div class="breadcrumb-wrapper">
                <span class="label">你的位置:</span>
                <ol class="breadcrumb">
                    <li class="active">教师管理</li>
                </ol>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
            <div class="panel-body">

                <h5 class="subtitle mb5">教师信息</h5>

                <div class="input-group mb15" style="width: 320px;float:right;">
                    <form th:action="@{/searchLecturer}" method="post">
                        <input name="tchname" th:value="${search}" style="float:left;width: 260px" type="text" class="form-control" placeholder="请输入教师名关键字">
                        <span class="input-group-btn">
                            <button style="float: right" type="submit" class="btn btn-info">搜索</button>
                        </span>
                    </form>
                </div>

                <div  style="float: right;margin-bottom: 20px;margin-right: 30px;"><a class="btn btn-info" href="/toAddLecturer">添加教师</a></div>
                <!--                <label>Search:<input type="search" class="" placeholder="" aria-controls="table1"></label>-->
                <br />

                <div class="table-responsive">
                    <table class="table" id="table1">
                        <thead>
                        <tr>
                            <th style="width: 100px;text-align: center">编号</th>
                            <th style="width: 100px;text-align: center">教师名</th>
                            <th style="width: 100px;text-align: center">性别</th>
                            <th style="width: 100px;text-align: center">资格证编号</th>
                            <th style="width: 100px;text-align: center">学历</th>
                            <th style="width: 100px;text-align: center">毕业学校</th>
                            <th style="width: 100px;text-align: center">入职时间</th>
                            <th style="width: 100px;text-align: center">是否外籍</th>
                            <th style="width: 100px;text-align: center">教学内容</th>
                            <th  style="width: 150px;text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item: ${lecturerItem}"  class="odd gradeX"><!-- 其中m是个临时变量，像for(User u : userList)那样中的u-->
                            <td style="width: 100px;text-align: center" th:text="${item.tchid}"/>
                            <td style="width: 100px;text-align: center" th:text="${item.getTchname()}"/>
                            <td style="width: 100px;text-align: center" th:if="${item.getTchgender() eq '1'}">男</td>
                            <td style="width: 100px;text-align: center" th:if="${item.getTchgender() eq '0'}">女</td>
                            <td style="width: 100px;text-align: center" th:text="${item.getTchcertnum()}"/>
                            <td style="width: 100px;text-align: center" th:text="${item.getTcheducation()}"/>
                            <td style="width: 100px;text-align: center" th:text="${item.getTchschool()}"/>
                            <td style="width: 100px;text-align: center" th:text="${item.getTchentrytime()}"/>
                            <td style="width: 100px;text-align: center" th:if="${item.getTchisforeign() eq '1'}">是</td>
                            <td style="width: 100px;text-align: center" th:if="${item.getTchisforeign() eq '0'}">否</td>
                            <td style="width: 100px;text-align: center" th:text="${item.getTchcontent()}"/>

                            <td style="width: 150px;text-align: center" class="center">
                                <div class="btn-group">
                                    <a  th:href="@{/toModifyLecturer/}+${item.getTchid()}" type="button" class="btn btn-warning">编辑</a>
                                    <button th:attr="del_uri=@{/deleteLecturer/}+${item.getTchid()}" class="btn btn-danger deleteBtn">删除</button>
                                </div>
                            </td>
                        </tr>
<!--                        <tr class="odd gradeX">-->
<!--                            <td th:text="${lectureItem.getTchname()}"></td>-->
<!--                            <td th:text="${lectureItem.getTchgender()}"></td>-->
<!--                            <td th:text="${lectureItem.getTchisforeign()}"></td>-->
<!--                            <td class="center" th:text="${lectureItem.getTcheducation()}"></td>-->
<!--                            <td class="center" th:text="${lectureItem.getTchentrytime()}"></td>-->
<!--                        </tr>-->
                        </tbody>
                    </table>

                    <form id="deleteLectureForm" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                    </form>

                </div><!-- table-responsive -->
                <div class="panel-heading" style="margin: 30px 30px;" th:if="${lecturerItem.size()==0}">当前暂无教师</div>
            </div><!-- panel-body -->
        </div><!-- panel -->
        </div>
    </div><!-- mainpanel -->


</section>


<script src="/admin/js/jquery-1.11.1.min.js"></script>
<script src="/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/admin/js/jquery-ui-1.10.3.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/modernizr.min.js"></script>
<script src="/admin/js/jquery.sparkline.min.js"></script>
<script src="/admin/js/toggles.min.js"></script>
<script src="/admin/js/retina.min.js"></script>
<script src="/admin/js/jquery.cookies.js"></script>

<script src="/admin/js/flot/jquery.flot.min.js"></script>
<script src="/admin/js/flot/jquery.flot.resize.min.js"></script>
<script src="/admin/js/flot/jquery.flot.spline.min.js"></script>
<script src="/admin/js/morris.min.js"></script>
<script src="/admin/js/raphael-2.1.0.min.js"></script>

<script src="/admin/js/custom.js"></script>
<script src="/admin/js/dashboard.js"></script>
<script src="/admin/js/logOut.js"></script>

<script>
    $(".deleteBtn").click(function(){
        var r = confirm("确定删除该条目吗？")
        if (r == true) {
            $("#deleteLectureForm").attr("action", $(this).attr("del_uri")).submit();
            return false;
        } else {
            return false;
        }
    });
</script>

<div style="text-align:center;">
    <p></p>
</div>
</body>
</html>
